<h2 style="background-color: green; text-align: center; color: black;">Tabla de Puntajes: Piedra-Papel-Tijera</h2>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Jugador</th>
        <th scope="col">Ganadas</th>
        <th scope="col">Perdidas</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody > 
      <tr class="table-success" *ngFor="let puntos of puntajeFire$ | async" style="font-weight: bold;">
        <ng-container *ngIf="puntos.juego=='piedra-papel-tijera'">
        <th scope="row">{{puntos.usuario}}</th>
        <td>{{puntos.victorias}}</td>
        <td>{{puntos.derrotas}}</td>
        <td>{{puntos.fecha}}</td>
        </ng-container>
      </tr>
    </tbody>
  </table>

