:host {
    display: block;
    width: 620px;
    margin: 0 auto;
  
   
  }
  
  hr {
    border: none;
  }

  .save-score
{
  width: 20%;
  color: black;
  background-color: skyblue;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  margin-left: 40%;

}