<h1 class= title>Elegir un juego:</h1>
<br><br>
<div class="card border-primary mb-3" style="max-width: 20rem; margin-left: 150px; float:left" >
    <div class="card-header" style="text-align: center;">Ta-Te-Ti</div>
    <div class="card-body">
        <img src="./../../../assets/imagenes/tateti.jpg" alt="tateti" width="200" height="200" class="center">
        <br>
            <button type="button" class="btn btn-success" (click)="jugarTateti()">Jugar</button>
        <br>   
            <!-- <button type="button" class="btn btn-warning">Chat</button> -->
    </div>
</div>

<div class="card border-primary mb-3" style="max-width: 20rem; margin-left: 100px; float:left" >
    <div class="card-header" style="text-align: center;">Piedra Papel Tijera</div>
    <div class="card-body">
        <img src="./../../../assets/imagenes/ppt.jpg" alt="ppt" width="200" height="200" class="center">
        <br>
            <button type="button" class="btn btn-success" (click)="jugarPPT()">Jugar</button>
        <br>   
            <!-- <button type="button" class="btn btn-warning">Chat</button> -->
    </div>
</div>

<div class="card border-primary mb-3" style="max-width: 20rem; margin-left: 100px; float:left" >
    <div class="card-header" style="text-align: center;">Memotest</div>
    <div class="card-body">
        <img src="./../../../assets/imagenes/memo.png" alt="memo" width="200" height="200" class="center"> 
        <br>
            <button type="button" class="btn btn-success" (click)="jugarMemotest()">Jugar</button>
        <br>   
            <!-- <button type="button" class="btn btn-warning">Chat</button> -->
    </div>
</div>

<div class="card border-primary mb-3" style="max-width: 18rem; margin-left: 100px; float:left"  >
    <div class="card-header" style="text-align: center;">?</div>
    <div class="card-body">
        <h3>Proximamente</h3>
        <!-- <img src="./../../../assets/imagenes/tateti.jpg" alt="tateti" width="200" height="200" class="center"> -->
        <br>
            <button type="button" class="btn btn-success">Jugar</button>
        <br>   
            <!-- <button type="button" class="btn btn-warning">Chat</button> -->
    </div>
</div>



