<div class="jumbotron"> 
    <h1 class="display-4" style="text-align: center;">Hola, mundo!</h1> 
    <img src="./../../../assets/imagenes/yo.jpg" alt="yo" width="260" height="300" class="center">
    <br>
    <p class="lead" style="text-align: center; font-size: large;">Mi nombre es Nahuel Palacios y soy estudiante de programación en la UTN</p>
    <hr class="my-2">
    <p>Esta sala de juegos fue desarrollada en Angular, la misma contiene 3 juegos clasicos + 1 juego elegido por mi mismo. Ademas, tiene un chatroom para conversar con otros usuarios.</p>
    <h4 style="font-style: italic; text-decoration:underline;">Mi juego: "Juego del 15" </h4>
    <p class="lead">
        El juego del 15 es una cajita formada por 16 casillas de las cuales sólo quince están ocupadas. Todas las fichas están colocadas en orden numérico, excepto la 14 y la 15, que tienen sus posiciones intercambiadas. El juego consiste en maniobrar todas las fichas para corregir el error que hay en la fila inferior de la cajita, de manera que todas las fichas queden en orden consecutivo.
    </p>
  </div>
