<div class="jumbotron"> 
    <h1 class="display-4" style="text-align: center;">Hola, mundo!</h1> 
    <img src="./../../../assets/imagenes/yo.jpg" alt="yo" width="260" height="300" class="center">
    <br>
    <p class="lead" style="text-align: center; font-size: large;">Mi nombre es Nahuel Palacios y soy estudiante de programación en la UTN</p>
    <hr class="my-2">
    <p>Esta sala de juegos fue desarrollada en Angular</p>
    <p class="lead">
        (Agregar explicacion de juego propio)
    </p>
  </div>
