<div class="jumbotron"> 
    <h1 class="display-4" style="text-align: center;">Hola, mundo!</h1> 
    <img src="./../../../assets/imagenes/yo.jpg" alt="yo" width="260" height="300" class="center">
    <br>
    <p class="lead" style="text-align: center; font-size: large;">
        Mi nombre es Nahuel Palacios y soy estudiante de programación en la UTN<br>
        <a href="https://github.com/NahueP">Repositorio Github</a>
    </p>
    
    <hr class="my-2">
    <p>Esta sala de juegos fue desarrollada en Angular, la misma contiene 3 juegos clasicos + 1 juego elegido por mi mismo. Ademas, tiene un chatroom para conversar con otros usuarios.</p>
    <h4 style="font-style: italic; text-decoration:underline;">Mi juego: "Juego del 15" </h4>
    <p class="lead" style="text-align: justify;">
        El juego del 15 es una cajita formada por 16 casillas de las cuales sólo quince están ocupadas. Todas las fichas se encuentran desordenadas. El juego consiste en maniobrar todas las fichas respetando el orden numerico, de manera que todas las fichas queden en orden consecutivo.
    </p>
  </div>
