

.board {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  /* background-color:black; */
  
}

.board-row {
  display: flex;
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
  
}
.status {
  color: white;
  font-size: 2.5rem;
  /* background-color: black; */
  font-weight: bold;
  text-align: center;
  padding: 1rem 0;
}

.new-game {
  width: 50%;
  color: #fff;
  background-color: #ff7b00;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.new-game:hover {
  cursor: pointer;
}